/*------------------------------------*\
  #RESETS
\*------------------------------------*/

@mixin reset-list () {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}





// tell the rest of framework that we have this module

$wocss-tools-resets: true;
