//  Resets
//  ==========================================================================


@mixin reset-input () {
  appearance: none;
  background: transparent;
  border: 0;
  font-size: inherit;
  outline: none;
  padding: 0;

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px transparent inset;
  }
}

@mixin reset-list () {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

@mixin reset-link () {
  border: none;
  text-decoration: none;

  &,
  &:active,
  &:focus,
  &:hover {
    color: inherit;
  }
}
