// check dependencies

$wocss-settings-global: false !default;


@if ($wocss-settings-global == false) {
  @error "[wocss-tools-custom-border] Have you included the wocss-settings-global module?"
};





/*------------------------------------*\
  #CUSTOM-BORDER
\*------------------------------------*/

@mixin custom-border-right ($height: 1.1em, $width: 1px, $spacing: $global-spacing-unit, $color: currentColor) {
  margin-right: $spacing;
  padding-right: $spacing;
  position: relative;

  &::after {
    background-color: $color;
    content: '';
    display: block;
    height: $height;
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    width: $width;
  }
}


@mixin custom-border-bottom ($height: 1px, $width: 90%, $spacing: $global-spacing-unit, $color: currentColor) {
  margin-bottom: $spacing;
  padding-bottom: $spacing;
  position: relative;

  &::after {
    background-color: $color;
    content: '';
    display: block;
    height: $height;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: $width;
  }
}





// tell the rest of framework that we have this module

$wocss-tools-custom-border: true;
