//  Custom border
//  ==========================================================================


@mixin custom-border-right ($border-height: 1.1em, $border-width: 1px, $border-spacing: $base-spacing-unit, $border-color: currentColor) {
  margin-right: $border-spacing;
  padding-right: $border-spacing;
  position: relative;

  &::after {
    background-color: $border-color;
    content: '';
    display: block;
    height: $border-height;
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: $border-width;
  }
}

@mixin custom-border-bottom ($border-height: 1px, $border-width: 90%, $border-spacing: $base-spacing-unit, $border-color: currentColor) {
  margin-bottom: $border-spacing;
  padding-bottom: $border-spacing;
  position: relative;

  &::after {
    background-color: $border-color;
    content: '';
    display: block;
    height: $border-height;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate3d(-50%, 0, 0);
    width: $border-width;
  }
}
