// check dependencies

$wocss-settings-spaces: false !default;
$wocss-tools-bem-constructor: false !default;
$wocss-tools-mq: false !default;


@if ($wocss-settings-spaces == false) {
  @error "[wocss-objects-grid] Have you included the wocss-settings-spaces module?"
};

@if ($wocss-tools-bem-constructor == false) {
  @error "[wocss-objects-grid] Have you included the wocss-tools-bem-constructor module?"
};

@if ($wocss-tools-mq == false) {
  @error "[wocss-objects-grid] Have you included the wocss-tools-mq module?"
};





/*------------------------------------*\
  #GRID
\*------------------------------------*/

/**
 * 1. Make negative margins work properly.
 * 2. Fix children's height (when it is stretch).
 * 3. Allow the element is reduced to 0 (width).
 */

@include object('grid') {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  width: auto; /* [1] */

  @include modifier('stretch') {
    align-items: stretch;

    @include modifies-element('col') {
      display: flex; /* [2] */
    }
  }

  @include modifier('middle') {
    align-items: center;
  }

  @each $gutter-key, $gutter-value in $wocss-spaces {
    @include modifier('gutter-' + $gutter-key) {
      margin: ($gutter-value / -2);

      @include modifies-element('col') {
        padding: ($gutter-value / 2);
      }
    }
  }

  @include element('col') {
    box-sizing: border-box;
    flex: 1 1 0; /* [3] */

    @include modifier('auto') {
      flex: 1 1 auto;
      width: auto;
    }

    @include modifier('fit') {
      flex: 1 1 0;
    }

    @each $breakpoint-key, $breakpoint-value in $wocss-breakpoints {
      @include modifier('auto') {
        @include suffix($breakpoint-key) {
          @include mq($from: $breakpoint-value) {
            flex: 1 1 auto;
            width: auto;
          }
        }
      }

      @include modifier('fit') {
        @include suffix($breakpoint-key) {
          @include mq($from: $breakpoint-value) {
            flex: 1 1 0;
          }
        }
      }
    }
  }
}
