/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/

$wocss-breakpoints: (
  'mobile': 320px, // 20em
  'tablet': 768px, // 48em
  'laptop': 1024px // 64em
) !default;


$mq-breakpoints: $wocss-breakpoints;





// tell the rest of framework that we have this module

$wocss-settings-breakpoints: true;
