/*------------------------------------*\
  #Breakpoints
\*------------------------------------*/

$breakpoint-xs: 320px !default;  // 20em
$breakpoint-sm: 480px !default;  // 30em
$breakpoint-md: 768px !default;  // 48em
$breakpoint-lg: 992px !default;  // 62em
$breakpoint-xl: 1200px !default; // 75em

$breakpoints: (
  'xs': $breakpoint-xs,
  'sm': $breakpoint-sm,
  'md': $breakpoint-md,
  'lg': $breakpoint-lg,
  'xl': $breakpoint-xl
) !default;





// If we have included this file, set a variable to tell the rest of the
// framework that we have some responsive settings.

$wocss-settings-breakpoints: true;
