//  Positions
//  ==========================================================================
//
//  doc: http://www.basscss.com/#basscss-layout


//  Display
//  --------------------------------------------------------------------------

@include utility('inline') { display: inline; }
@include utility('block') { display: block; }
@include utility('inline-block') { display: inline-block; }
@include utility('table') { display: table; }
@include utility('table-cell') { display: table-cell; }


//  Overflow
//  --------------------------------------------------------------------------

@include utility('overflow-hidden') { overflow: hidden; }
@include utility('overflow-scroll') { overflow: scroll; }
@include utility('overflow-auto') { overflow: auto; }


//  Max Width
//  --------------------------------------------------------------------------

@include utility('fit') { max-width: 100%; }
