/*------------------------------------*\
  #Layout
\*------------------------------------*/

// Here we set a variable assuming that defaults settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.

$wocss-settings-defaults: false !default;

@if ($wocss-settings-defaults == false) {
    @warn "Oops! Have you included the wocss-settings-defaults module?"
};





// center a block element

@mixin layout-center ($center-max-width: 1200px, $center-padding-x: $base-spacing-unit) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $center-max-width;
  width: 100%;

  @if $center-padding-x != false {
    padding-left: $center-padding-x;
    padding-right: $center-padding-x;
  }
}


// create a block element

@mixin layout-block () {
  display: block;
  width: 100%;
}





// If we have included this file, set a variable to tell the rest of the
// framework that we have some layout mixins.

$wocss-tools-layout: true;
