// check dependencies

$wocss-tools-bem-constructor: false !default;
$wocss-tools-layout: false !default;


@if ($wocss-tools-bem-constructor == false) {
  @error "[wocss-objects-wrapper] Have you included the wocss-tools-bem-constructor module?"
};

@if ($wocss-tools-layout == false) {
  @error "[wocss-objects-wrapper] Have you included the wocss-tools-layout module?"
};





/*------------------------------------*\
  #WRAPPER
\*------------------------------------*/

@include object('wrapper') {
  @include layout-center();

  @include modifier('1') {
    max-width: 24rem; // 384px
  }

  @include modifier('2') {
    max-width: 32rem; // 512px
  }

  @include modifier('3') {
    max-width: 48rem; // 768px
  }

  @include modifier('4') {
    max-width: 64rem; // 1024px
  }
}
