/*------------------------------------*\
  #Responsive States
\*------------------------------------*/

/**
 * doc: http://www.basscss.com/docs/responsive-states/
 */

// variables

$responsive-states-trumps-breakpoints: $breakpoints !default;





// show

@include utility('show') {
  @each $breakpoint-key, $breakpoint-value in $responsive-states-trumps-breakpoints {
    @include hasta($breakpoint-value) {
      @include suffix($breakpoint-key) {
        display: none !important;
      }
    }
  }
}





// hide

@include utility('hide') {
  display: none !important;

  @each $breakpoint-key, $breakpoint-value in $responsive-states-trumps-breakpoints {
    @include desde($breakpoint-value) {
      @include suffix($breakpoint-key) {
        display: none !important;
      }
    }
  }
}

@include utility('display-none') { display: none !important; }
