// check dependencies

$wocss-settings-typography: false !default;
$wocss-tools-bem-constructor: false !default;


@if ($wocss-settings-typography == false) {
  @error "[wocss-trumps-utilities] Have you included the wocss-settings-typography module?"
};

@if ($wocss-tools-bem-constructor == false) {
  @error "[wocss-trumps-utilities] Have you included the wocss-tools-bem-constructor module?"
};





/*------------------------------------*\
  #TYPE-SCALE
\*------------------------------------*/

/**
 * doc: http://basscss.com/#basscss-type-scale
 */


/**
 * 1. Here we set a namespace ('fz') for font-size utilities.
 */

@each $fz-key, $fz-value in $wocss-font-sizes {
  @include utility('fz-' + $fz-key) { /* [1] */
    font-size: $fz-value;
  }
}

@include utility('fz-inherit') { font-size: inherit; }
