// check dependencies

$wocss-settings-typography: false !default;


@if ($wocss-settings-typography == false) {
  @error "[wocss-trumps-utilities] Have you included the wocss-settings-typography module?"
};





/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

/**
 * doc: http://basscss.com/#basscss-typography
 */


/**
 * 1. Here we set a namespace ('fw') for font-weight utilities.
 */

@each $fw-key, $fw-value in $font-weights {
  @include utility('fw-' + $fw-key) { /* [1] */
    font-weight: $fw-value;
  }
}

@include utility('line-height-1') {
  line-height: 1;
}

@include utility('italic') { font-style: italic; }

@include utility('capitalize') { text-transform: capitalize; }
@include utility('lowercase') { text-transform: lowercase; }
@include utility('uppercase') { text-transform: uppercase; }

@include utility('left-align') { text-align: left; }
@include utility('center') { text-align: center; }
@include utility('right-align') { text-align: right; }
@include utility('justify') { text-align: justify; }

@include utility('nowrap') { white-space: nowrap; }
@include utility('break-word') { word-wrap: break-word; }

@include utility('font-familiy-inherit') { font-family: inherit; }
@include utility('text-decoration-none') { text-decoration: none; }

@include utility('truncate') {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
