/*------------------------------------*\
  #Align
\*------------------------------------*/

/**
 * source: http://www.basscss.com/#basscss-align
 */

@include utility('align-baseline') { vertical-align: baseline; }
@include utility('align-top') { vertical-align: top; }
@include utility('align-middle') { vertical-align: middle; }
@include utility('align-bottom') { vertical-align: bottom; }
