// check dependencies

$wocss-settings-global: false !default;
$wocss-tools-bem-constructor: false !default;


@if ($wocss-settings-global == false) {
  @error "[wocss-utilities-basscss] Have you included the wocss-settings-global module?"
};

@if ($wocss-tools-bem-constructor == false) {
  @error "[wocss-utilities-basscss] Have you included the wocss-tools-bem-constructor module?"
};





/*------------------------------------*\
  #BORDERS
\*------------------------------------*/

/**
 * doc: http://basscss.com/#basscss-border
 */


// borders

@include utility('border') {
  border-style: solid;
  border-width: $global-border-width;
  border-color: $global-border-color;
}

@include utility('border-top') {
  border-top-style: solid;
  border-top-width: $global-border-width;
  border-top-color: $global-border-color;
}

@include utility('border-right') {
  border-right-style: solid;
  border-right-width: $global-border-width;
  border-right-color: $global-border-color;
}

@include utility('border-bottom') {
  border-bottom-style: solid;
  border-bottom-width: $global-border-width;
  border-bottom-color: $global-border-color;
}

@include utility('border-left') {
  border-left-style: solid;
  border-left-width: $global-border-width;
  border-left-color: $global-border-color;
}

@include utility('border-none') { border: 0; }


// border radii

@include utility('rounded') { border-radius: $global-border-radius; }
@include utility('circle') { border-radius: 50%; }

@include utility('rounded-top') { border-radius: $global-border-radius $global-border-radius 0 0; }
@include utility('rounded-right') { border-radius: 0 $global-border-radius $global-border-radius 0; }
@include utility('rounded-bottom') { border-radius: 0 0 $global-border-radius $global-border-radius; }
@include utility('rounded-left') { border-radius: $global-border-radius 0 0 $global-border-radius; }

@include utility('not-rounded') { border-radius: 0; }
