/*------------------------------------*\
  #Tables
\*------------------------------------*/

// Here we set a variable assuming that defaults and typography settings are not set
// globally. If they have been previously been defined, the following variables
// will be overriden and will be set to `true`.

$wocss-settings-defaults: false !default;
$wocss-settings-typography: false !default;

@if ($wocss-settings-defaults == false) {
  @warn "Oops! Have you included the wocss-settings-defaults module?"
};

@if ($wocss-settings-typography == false) {
  @warn "Oops! Have you included the wocss-settings-typography module?"
};





table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border-bottom: $base-border;
  padding: ($base-spacing-unit / 2) 0;
}

th {
  font-weight: $fw-s-bold;
  text-align: left;
}

tr,
td,
th {
  vertical-align: middle;
}

thead {
  th {
    border-bottom-width: 2px;
  }
}
