/*------------------------------------*\
  #Spaces
\*------------------------------------*/

$space-1: 0.25rem !default;
$space-2: 0.5rem !default;
$space-3: 1rem !default;
$space-4: 2rem !default;
$space-5: 4rem !default;
$space-6: 8rem !default;

// gutter list for objects and trumps

$spaces: (
  '1': $space-1,
  '2': $space-2,
  '3': $space-3,
  '4': $space-4,
  '5': $space-5,
  '6': $space-6
) !default;





// If we have included this file, set a variable to tell the rest of the
// framework that we have some spaces settings.

$wocss-settings-spaces: true;
