/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

// font sizes

$global-fz-xl: 1.5em !default;
$global-fz-lg: 1.25em !default;
$global-fz-md: 1.1em !default;
$global-fz-sm: 0.9em !default;
$global-fz-xs: 0.75em !default;
$global-fz-h00: 3rem !default;
$global-fz-h0 : 2.4rem !default;
$global-fz-h1 : 2rem !default;
$global-fz-h2 : 1.5rem !default;
$global-fz-h3 : 1.25rem !default;
$global-fz-h4 : 1rem !default;
$global-fz-h5 : $global-fz-h4 !default;
$global-fz-h6 : $global-fz-h4 !default;

$wocss-font-sizes: (
  'xl': $global-fz-xl,
  'lg': $global-fz-lg,
  'md': $global-fz-md,
  'sm': $global-fz-sm,
  'xs': $global-fz-xs,
  'h00': $global-fz-h00,
  'h0' : $global-fz-h0,
  'h1' : $global-fz-h1,
  'h2' : $global-fz-h2,
  'h3' : $global-fz-h3,
  'h4' : $global-fz-h4,
  'h5' : $global-fz-h5,
  'h6' : $global-fz-h6
) !default;


// font Weights

$global-fw-x-bold : 800 !default;
$global-fw-bold   : 700 !default;
$global-fw-s-bold : 600 !default;
$global-fw-regular: 400 !default;
$global-fw-light  : 300 !default;

$wocss-font-weights: (
  'x-bold'  : $global-fw-x-bold,
  'bold'    : $global-fw-bold,
  's-bold'  : $global-fw-s-bold,
  'regular' : $global-fw-regular,
  'light'   : $global-fw-light
) !default;





// tell the rest of framework that we have this module

$wocss-settings-typography: true;
