// check dependencies

$wocss-settings-spaces: false !default;
$wocss-tools-bem-constructor: false !default;


@if ($wocss-settings-spaces == false) {
  @error "[wocss-objects-media] Have you included the wocss-settings-spaces module?"
};

@if ($wocss-tools-bem-constructor == false) {
  @error "[wocss-objects-media] Have you included the wocss-tools-bem-constructor module?"
};





/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

@include object('media') {
  align-items: flex-start;
  display: flex;
  flex-direction: row;

  @each $gutter-number, $gutter-value in $wocss-spaces {

    @include modifier('gutter-' + $gutter-number) {
      padding: $gutter-value;

      @include modifies-element('body') {
        margin-left: $gutter-value;
      }

      @include state('reverse') {

        @include modifies-element('body') {
          margin-left: 0;
          margin-right: $gutter-value;
        }
      }
    }
  }

  @include state('reverse') {
    flex-direction: row-reverse;
  }

  @include element('left') {
    order: 1;
  }

  @include element('body') {
    flex: 1 1 0;
    order: 2;
  }
}
